


.card {
  display: inline-block;
  margin: 1% 1.5%;
  justify-content: space-evenly;

  @media(min-device-width:992px) {
    width: calc(90% / 3);
  }

  @media(max-device-width:992px) {
    margin: 1% 0%;
  }

}
