.container-fluid {
  padding: 0;
  z-index: 9999;
  margin: 0px;
  .carousel-item {
    &.active, &.carousel-item-right, &.carousel-item-next {
      display: flex !important;
      flex-wrap: wrap;
      padding: 0;
    }
  }
}
