<div class='container-fluid'>
  <div class='col-12'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Delhi Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Delhi Metro</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Bangalore Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Bangalore Metro</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Channai Metro">
        <div class="carousel-caption">
          <h3 style="color: yellow">Channai Metro</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>  
